<div class="form-upload">
  <div class="form-content">
    <div class="upload-content">
      <h4>Upload File</h4>
    </div>
    <%= form_for @resource  do |f| %>
      <%= f.file_field :image, :class => "form-field"  %>
      <div class="actions">
        <%= f.submit "Upload" %>
        <h4>Progress</h4>
        <div id="file-progress">
          <div id="upload-bar"></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

