// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-tag{
  margin-right: 30%;
  margin-left: 30%;
  width: 40%;
}
